{extends 'layout/app'}

{block 'content'}
<div class="page-header header-filter" style="background-image: url('../assets/img/header.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1 class="title ">Bonfim Framework</h1>
                <h4 class="title">It's simple and beautiful.</h4>
                <h5 class="description">v{__version}</h5>
                <a href="https://bonfimsystems.com/docs/framework" class="btn btn-primary btn-fill btn-round" target="_blank">View documentation</a>
            </div>
        </div>
    </div>
</div>
{/block}
