<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="{{ app.site }}">
                        Home
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy;
            <script>document.write(new Date().getFullYear())</script>
            <a href="{{ app.site }}"> {{ app.title }} </a>, {{ app.desc }}
        </p>
    </div>
</footer>