<div class="sidebar" data-active-color="purple">

    <div class="logo">
        <a href="{{app.site}}" class="simple-text logo-mini">
            <i class="fa fa-superpowers"></i>
        </a>

        <a href="{{app.site}}" class="simple-text logo-normal">
            {{app.title}}
        </a>
    </div>

    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="../assets/img/faces/avatar.jpg" />
            </div>
            <div class="info">
                <a data-toggle="collapse" href="#collapse" class="collapsed">
                    <span>
                        Edson Onildo
                        <b class="caret"></b>
                    </span>
                </a>
                <div class="clearfix"></div>
                <div class="collapse" id="collapse">
                    <ul class="nav">
                        <li>
                            <a href="#">
                                <span class="sidebar-mini">
                                    <i class="material-icons">person</i>
                                </span>
                                <span class="sidebar-normal"> Meu Perfil </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="sidebar-mini">
                                    <i class="material-icons">settings</i>
                                </span>
                                <span class="sidebar-normal"> Configurações </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">

            {loop nav as item}
            <li class="{if item.link == app.uri}active{/if}">
                <a href="/{{item.link}}">
                    <i class="material-icons">{{item.icon}}</i>
                    <p> {{item.name}} </p>
                </a>
            </li>
            {/loop}

        </ul>
    </div>
</div>